VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_SOROBAN_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_MUSIC_NFT_CONTRACT_ID=PENDING_MUSIC_NFT_CONTRACT_ID
VITE_MARKETPLACE_CONTRACT_ID=PENDING_MARKETPLACE_CONTRACT_ID
VITE_TESTNET_XLM_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_SOROBAN_POLL_ATTEMPTS=25
VITE_SOROBAN_BASE_FEE=100